@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.flex{
    display: flex;
    align-items: center;
}
body{
    background-color: #eef0f8;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* Contents & Menus Style */
.container{
    width: max(100% - 15px, 1180px);
    margin-inline: auto;
    background-color: #eef0f8;
    overflow-x: hidden;
    color: #171515;
}
.container header{
    width: 100%;
    height: 9vh;
    padding: 10px 60px;
    justify-content: space-between;
}
header .logo{
    font-size: 45px;
    font-weight: 600;
    width: 30%;
    margin-left: 100px;
    margin-bottom: 15px;
}
.logo span{
    color: #ff5967;
    font-size: 70px;
}
header nav{
    width: 70%;
    display: flex;
}
nav #search{
    width: 17%;
    position: relative;
}
#search i{
    position: absolute;
    color: #ff5967;
    top: 10px;
    font-weight: bolder;
    font-size: 14px;
    left: 8px;
}
nav input{
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 8px 15px;
    padding-left: 33px;
    /* border:2px solid #ff5967; */
    font-size: 16px;
    height: 13px;
    width: 100%;
}
header nav ul{
    justify-content: center;
    width: 70%;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 25px;
    font-weight:500;
    color: #171515;
}
nav ul li a:hover{
    color: #ff5967;
}
.container .main{
    width: max(100% - 15px, 1000px);
    margin-inline: auto;
    height: 80vh;
    justify-content: center;
}
/* 1st Holder's Style */
.main .main-one{
    width: 45%;
    padding: 40px 30px;
    padding-left: 150px;
}
.main-one h1{
    font-size: 80px;
}
.main-one span{
    font-weight: 600;
    font-size: 60px;
    color: #ff5967;
}
.main-one p{
    font-size: 17px;
    padding: 10px 0;
}
.main-one button{
    background-color: #ff5967;
    outline: none;
    border: none;
    padding: 9px 35px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 22px;
    box-shadow: 2px 2px 30px #0e0e0e79;
    font-weight: 600;
    border-radius: 50px;
    transition: all ease-out 0.2s;
}
.main-one button:hover{
    transform: scale(1.02);
}
.main .main-two{
    width: 50%;
}
.main-two img{
    width: 650px;
}
a{
    text-decoration: none;
    color: #eef0f8;
}
/* 1st Project's Style */
.projects{
    position: relative;
    width: 100%;
    height: 600px;
    padding: 150px 180px;
}
.projects h1{
    font-size: 50px;
    line-height: 49px;
    font-weight: 800;
}
.projects h1 span{
    color: #df5376;
}
.projects p{
    width: 35%;
    font-size: 17px;
    font-weight: 400;
    padding-top: 20px;
}
.projects h3{
    text-align: center;
}
.projects .button{
    background-color: #df5376;
    padding: 9px 20px;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 18px;
    color: black;
    font-weight: 600;
    border-radius: 50px;
}
.projects-div{
    width:300px;
    height: 390px;
    position: absolute;
    z-index: 100;
    flex-direction: column;
    margin: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s ease-out;
}
.projects-div:hover{
    transform: rotate(10deg);
}
.div-1{
    top: 100px;
    left: 850px;
}
.div-2{
    bottom: -15px;
    right: 1200px;
}
.div-3{
    bottom: -15px;
    right: 800px;
}
.div-4{
    bottom: -15px;
    right: 400px;
}
/* 2nd Project's Style */
.projects-div h3{
    font-size: 23px;
    padding:5px 30px;
    color: #df5376;
    font-family: 'Roboto', sans-serif;
}
.projects-div p{
    width: 80%;
    margin:0 auto;
    text-align: center;
}
.projects-div img{
    width: 100px;
    margin: 6px 0;
    border-radius: 50%;
}
.projects-div a{
    text-decoration: none;
    color: #a83abe;
}
.projects button{
    background-color: transparent;
    cursor: pointer;
    color: #171515;
    outline: none;
    border: 1px solid #a30505bd;
    padding: 7px 25px;
    font-weight: 500;
    font-size: 22px;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-top: 50px;
    border-radius: 50px;
}
/* About me */
.about{
    width: 100%;
    height: 400px;
    padding: 30px 50px;
    justify-content: center;
}
.about-one{
    width: 55%;
    padding: 0 60px;
    margin-top: 10rem;
    margin-bottom: 5rem;
}
.about-one h1{
    font-size: 50px;
}
.about-one p{
    padding: 10px 0;
    width: 95%;
    text-align: justify;
}
.about-one span{
    font-size: 30px;
    color: #f04872;
}
.about-two{
    width: 40%;
}
.about-two img{
    width: 400px;
}
a{
    text-decoration: none;
}
/* Small Contact & Downloading CV */
.btns{
    margin: 15px 0;
}
.btns button{
    background-color: #df5376;
    padding: 8px 17px;
    font-size:18px;
    font-weight: 600;
    margin: 0 10px;
    cursor: pointer;
    transition: all ease-out 0.2s;
    outline: none;
    border: none;
}
.btns button:hover{
    transform: scale(1.02);
}
/* Contact */
.contact{
    width: 100%;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.356);
    border-bottom: 1px solid rgba(255, 255, 255, 0.31);
    padding-top: 30px;
    padding-bottom: 70px;
}
.contact h1{
    font-size: 50px;
}
.contact h1 span{
    color: #df345e;
}
.contact .box{
    flex-direction: column;
    margin-top: 40px;
}
.box div{
    width: 40%;
    margin: auto;
}
.contact .box input{
    width: 90%;
    margin: auto;
    outline: none;
    border: none;
    background-color: rgba(116, 114, 114, 0.377);
    padding: 9px 40px;
    border-radius: 5px;
    margin: 10px;
    font-size: 16px;
}
.box div{
    position: relative;
}
.box div i{
    position: absolute;
    font-size: 20px;
    color: black;
    top: 20px;
    left: 20px;
}
.contact .box textarea{
    margin-top: 20px;
    background-color: rgba(116, 114, 114, 0.377);
    padding: 10px 30px;
    color: #171515;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid rgba(116, 114, 114, 0.952);
    outline: none;
    margin-left: 30px;
}
.send{
    background: linear-gradient(rgba(207, 148, 148, 0.377) , #df345e);
    font-size: 19px !important;
    font-weight: 600;
    cursor: pointer;
    margin: 30px auto !important;
}
/* Message Effect styles */
.banner {
    position: relative;
    margin-left: 20px;
    margin-bottom: 5px;
    width: 400px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    padding: 15px;
    border-radius: 20px;
    background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
    backdrop-filter: blur(10px);
    opacity: 0;
    animation: animIn 1s forwards, animOut 2s forwards 5s;
    /* Local font */
    font-family: Poppins;
    color: #363232;
}
.images {
    position: relative;
    width: 50px;
    height: 70px;
    background: url("./popup\ message/memoji.png") center no-repeat;
    background-size: cover;
    border-radius: 50%;
    align-self: center;
}
.app {
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 20px;
}
.title{
    font-weight: 500;
}
.message {
    font-weight: 300;
}
.timestamp {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 14px;
    opacity: 5s;
}
@keyframes animIn {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        translate: 0 20px;
    }
}
@keyframes animOut {
    100% {
        translate: 0 -20px;
        opacity: 0;
    }
}
hr{
    color: #171515;
    margin-bottom: 1vh;
    margin-top: 10px;
    width: 60%;
    margin-left: 18%;
}
/* Lower Tape's Style */
footer{
    justify-content: space-between;
    padding: 10px 70px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin-bottom: 2vh;
}
/* Social Media Icons */
.icons {
    display: flex;
    column-gap: 25px;
}
.icon {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #171515;
    border-radius: 50%;
    outline: 2px solid #171515;
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}
.icon:hover {
    outline-offset: 4px;
}
.icon:hover i {
    animation: shake .25s;
}
/* Instagram */
.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
    outline-color: #a02d76;
}
/* Twitter */
.icon--twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}
/* Linkedin */
.icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}
/* Github */
.icon--github:hover {
    background-color: #6e5494;
    outline-color: #6e5494;
}
/* Discord */
.icon--discord:hover {
    background-color: #7289d9 ;
    outline-color: #7289d9 ;
}
/* Reddit */
.icon--reddit:hover {
    background-color: #ff4500;
    outline-color: #ff4500;
}
@keyframes shake {
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-15deg);
    }
    30% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
}